<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.shinhan.place">
    <select id="addRegion" parameterType="regionDTO">
        select region_name
        from regions
        where region_id = #{regionId}
    </select>

    <!--장소 저장-->
    <insert id="savePlace" parameterType="placeDTO">
        insert into places (kakao_place_id, region_id, kakao_place_name, kakao_road_address_name,
                            kakao_phone, kakao_x, kakao_y, kakao_place_url)
        values (#{kakaoPlaceId}, #{regionId}, #{kakaoPlaceName}, #{kakaoRoadAddressName},
                #{kakaoPhone}, #{kakaoX}, #{kakaoY}, #{kakaoPlaceUrl});
    </insert>

    <!--장소 여러개 일괄 삽입-->
    <insert id="savePlanPlace" parameterType="planPlaceDTO">
        insert into plan_places (plan_id, kakao_place_id, day)
        values (#{planId}, #{kakaoPlaceId}, #{day});
    </insert>

    <!-- 즐겨찾기 추가 -->
    <insert id="insertFavorite" parameterType="FavoriteDTO" useGeneratedKeys="true" keyProperty="starId">
        INSERT INTO favorites (member_email, kakao_place_id)
        VALUES (#{memberEmail}, #{kakaoPlaceId})
    </insert>

    <!-- 즐겨찾기 해제 -->
    <delete id="deleteFavorite" parameterType="long">
        DELETE FROM favorites
        WHERE star_id = #{starId}
    </delete>

    <!-- 즐겨찾기 존재 여부 확인 -->
    <select id="findByMemberAndPlaceCount" parameterType="map" resultType="int">
        SELECT COUNT(*)
        FROM favorites
        WHERE member_email = #{memberEmail}
          AND kakao_place_id = #{kakaoPlaceId}
    </select>

    <!-- 즐겨찾기 삭제 -->
    <delete id="deleteByMemberAndPlace" parameterType="map">
        DELETE FROM favorites
        WHERE member_email = #{memberEmail}
          AND kakao_place_id = #{kakaoPlaceId}
    </delete>

    <!-- 즐겨찾기 목록 불러오기 -->
    <select id="findAllByMemberEmail" parameterType="FavoriteDTO" resultType="favoriteDTO">
        SELECT *
        FROM favorites
        WHERE member_email = #{memberEmail}
    </select>
</mapper>