<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.shinhan.place">
    <select id="addRegion" parameterType="regionDTO">
        select region_name
        from regions
        where region_id = #{regionId}
    </select>

    <!--장소 저장-->
    <insert id="savePlace" parameterType="placeDTO">
        insert into places (kakao_place_id, region_id, kakao_place_name, kakao_road_address_name,
                            kakao_phone, kakao_x, kakao_y, kakao_place_url)
        values (#{kakaoPlaceId}, #{regionId}, #{kakaoPlaceName}, #{kakaoRoadAddressName},
                #{kakaoPhone}, #{kakaoX}, #{kakaoY}, #{kakaoPlaceUrl});
    </insert>

    <!--장소 여러개 일괄 삽입-->
    <insert id="savePlanPlace" parameterType="planPlaceDTO">
        insert into plan_places (plan_id, kakao_place_id, day)
        values (#{planId}, #{kakaoPlaceId}, #{day});
    </insert>
    <!--특정 planId의 장소 목록 조회-->
</mapper>