<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.shinhan.plan">

    <insert id="save" parameterType="PlanDTO" useGeneratedKeys="true" keyProperty="planId">
        INSERT INTO plans (member_email, plan_name, start_date, end_date, plan_state)
        VALUES (#{memberEmail}, #{planName}, #{startDate}, #{endDate}, #{planState})
    </insert>

    <select id="planList" resultType="planDTO">
        select
            plan_id AS planId,
            plan_name AS planName,
            start_date AS startDate,
            end_date AS endDate,
            plan_state AS planState
        from plans
        where member_email = #{memberEmail}
    </select>

    <update id="planName" parameterType="planDTO">
        update plans
        set plan_name = #{planName}
        where plan_id = #{planId}
    </update>

    <update id="planDate" parameterType="planDTO">
        update plans
        set
            start_date = #{startDate},
            end_date = #{endDate}
        where plan_id = #{planId}
    </update>

    <update id="planState" parameterType="planDTO">
        update plans
        set plan_state = #{planState}
        where plan_id = #{planId}
    </update>

    <insert id="saveMemberPlan" parameterType="memberPlanDTO">
        insert into member_plans (member_email, plan_id)
        values (#{memberEmail}, #{planId})
    </insert>

    <!-- Companion(동행자) 존재 여부 확인 -->
    <select id="countCompanion" resultType="int">
        select count(*) from member_plans
        where plan_id = #{planId} and member_email = #{memberEmail}
    </select>

    <!-- Companion(동행자) 리스트 조회 -->
    <select id="getCompanionsByPlanId" resultType="MemberPlanDTO">
        select member_plan_id AS memberPlanId,
               member_email AS memberEmail,
               plan_id AS planId
        from member_plans
        where plan_id = #{planId}
    </select>


    <!--우리 회원만 동행자 추가(회원 테이블에서 조회)-->
    <select id="checkMemberExists" parameterType="string" resultType="int">
        select count(*)
        from members
        where member_email = #{memberEmail}
    </select>

    <delete id="deleteCompanion" parameterType="memberPlanDTO">
        delete from member_plans
        where plan_id = #{planId} and member_email = #{memberEmail}
    </delete>

</mapper>