<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.shinhan.plan">

    <insert id="save" parameterType="planDTO">
        insert into plans(plan_name, start_date, end_date, plan_state)
        values (#{planName}, #{startDate}, #{endDate}, #{planState})
    </insert>

    <select id="planList" resultType="planDTO">
        select
            plan_id AS planId,
            plan_name AS planName,
            start_date AS startDate,
            end_date AS endDate
        from plans;
    </select>

    <update id="planName" parameterType="planDTO">
        update plans
        set plan_name = #{planName}
        where plan_id = #{planId};
    </update>
</mapper>