<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.shinhan.post">
    <!--    <select id="viewPost" resultType="PostDTO">-->
    <!--        SELECT-->
    <!--            post_id-->
    <!--        FROM-->
    <!--            posts-->
    <!--    </select>-->

    <resultMap id="postResultMap" type="PostVO">
        <id property="postId" column="post_id"/>
        <result property="postTitle" column="post_title"/>
        <result property="category" column="category_id"/>
        <result property="postContent" column="post_content"/>
        <result property="memberNickName" column="member_nickname"/>
        <result property="likeCount" column="like_count"/>
        <result property="imageUrl" column="image_url"/>
    </resultMap>
    <select id="viewPost" resultMap="postResultMap">
<!--        SELECT-->
<!--            p.post_id,-->
<!--            p.post_title,-->
<!--            p.post_content,-->
<!--            p.category_id,-->
<!--            COUNT(l.post_id) AS like_count-->
<!--        FROM-->
<!--            posts p-->
<!--        LEFT JOIN-->
<!--            likes l-->
<!--        ON-->
<!--            p.post_id = l.post_id-->
<!--        GROUP BY-->
<!--            p.post_id-->
<!--        ORDER BY-->
<!--            like_count DESC-->
<!--        LIMIT 20;-->
        SELECT
            p.post_id,
            p.post_title,
            p.post_content,
            p.category_id,
            m.member_nickname,
            COUNT(l.post_id) AS like_count
        FROM
            posts p
        LEFT JOIN
            likes l
        ON
            p.post_id = l.post_id
        LEFT JOIN
            members m
        ON
            p.member_email = m.member_email
        GROUP BY
            p.post_id
        ORDER BY
            like_count DESC
        LIMIT 20;
    </select>

</mapper>
